 <!--The content below is only a placeholder and can be replaced.-->
<div class="app-nav">
  <div style="text-align:center" class="navbarbg">
    <h1>
      Welcome to {{ title }}! {{name}} 1
    </h1>
    <button (click)="passData()" class="btn">Pass Data</button>
  </div>
</div>